*,
*:after,
*:before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #312a25;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: .5px;
  letter-spacing: .05em;
  height: 100%;
  line-height: 1.65;
  font-weight: 400;
  position: relative;
  margin: 0;
}

body ul,
body ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.container.narrow-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

a{
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
p {
  margin: 0;
}

address {
  margin: 10px 0;
  font-style: normal;
  max-width: 230px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.primary-color{
  color: #2f0238 !important;
}

.color-white{
  color: #fff !important;
}

.bg_strips {
    background-image: url(./img/banners/bg_stroke.png);
}

.bg-primary-color{
  background-color: #2f0238 !important;
}

.font_regular {
  font-weight: 400 !important;
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

.bg-off-white {
  background-color: #fff !important;
}

.bg-white {
  background-color: #f5f5f5 !important;
}

.text-caps{
  text-transform: uppercase !important; 
}

.text-center {
  text-align: center !important;
}

.font-md{
  font-size: 16px;
}

.font-bold {
  font-weight: 700 !important;
}

.font-regular {
  font-weight: 400 !important;
  font-family: "Montserrat", "Myriad Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

.flex-row {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    zoom: 1;
    padding: 30px;
}

.flex-row:before, .flex-row:after {
  content: "";
  display: table;
}

.flex_row:after {
  clear: both;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

button {
  outline: 0;
  border: none;
  appearance: none;
  width: auto;
  height: auto;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  background: 0 0;
}

header {
  width: 100%;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
  height: 60px;
  top: 0;
  left: 0;
}

.main-header {
  position: absolute;
  background: #2f0238;
  box-shadow: 1px 0 4px #353535;
  fill: #f5f5f5;
  color: #f5f5f5;
}

.main_header + .main_content_area {
  padding-top: 60px;
}

.navbar-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo{
  justify-content: flex-start;
  padding-left: 15px;
}

.logo-name{
  position: relative;
  bottom: 50%;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}

.nav-search-box {
  position: relative;
  bottom: 10%;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-search-form {
  display: block;
  visibility: visible;
  transform: none;
  background: transparent;
  position: relative;
  bottom: 3px;
}

.nav-search-input {
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #353535;
  border: none;
  display: block;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px 50px;
}

.nav-search-input:focus {
  outline: none;
}

.nav-search-btn {
  margin-top: -10px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  fill: #757575;
}

.nav-search-submit {
  left: 13px;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.cust-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    fill: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navs{
  padding-right: 50px;
}

.nav-links{
  display: inline;
  padding: 10px;
}

.nav-links a{
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover{
  color: #bb95bb;
  font-size: 14.1px;
  /* transform: scale(5); */
  transition: ease-out 0.5s;
}

.banner-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-wrapper {
  padding: 60px 30px;
  position: relative;
}

.banner_bg .section-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-content {
  padding-top: 60px;
  position: relative;
}


.main-content{
  position: relative;
  z-index: 1;
}

.section-block {
  width: 100%;
  clear: both;
  background-size: cover;
  position: relative;
}


.section_header {
  padding-bottom: 40px;
}

.section-title {
  font-size: 32px;
}

.custom-control-group {
    clear: both;
    display: flex;
    flex-direction: row;
    box-pack: justify;
    justify-content: space-between;
    box-align: center;
    align-items: center;
    flex-flow: column nowrap;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin: 0;
}

.required::before {
  content: "*";
  font-size: 1.125em;
  color: #b44e3a;
}


label {
  font-size: 1em;
  letter-spacing: .15em;
  font-weight: 400;
}


.form-control {
  padding: 7px 10px;
  font-size: 14px;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 10px;
  outline: 0;
  width: 100%;
  position: relative;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  border-radius: 5px;
  color: #353535;
  text-indent: .01px;
  min-height: 40px;
  appearance: none;
  box-shadow: 0 0 3px rgba(53, 53, 53, 0.2);
}

.form-control.title-input {
  font-size: 1.25em;
  font-weight: 700;
}

.form-control.comment-input {
  font-size: 12px;
  box-shadow: none;
}

.form-control.input-filled {
  box-shadow: none;
  height: auto;
  background-color: #f5f5f5;
}

.not-empty .form-control {
  padding-bottom: 2px;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #b44e3a;
}

.form-horizontal {
  display: flex;
}

.form-horizontal .control-label {
  margin-bottom: 8px;
}

textarea {
  display: block;
  resize: vertical;
}


.control-label {
  z-index: 4;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.4rem;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .1rem;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  transition: all 0.4s ease;
}

.funky-form .control-label {
  display: block;
  top: -10px;
  opacity: 0;
  margin-bottom: 0;
  font-size: 70%;
  user-select: none;
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  padding: 6px 12px 3px;
  background-color: white;
  transform: translateY(3px);
}

.not_empty .control-label {
  opacity: 1;
  transform: none;
}


select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
  padding-right: 25px;
}

select.form-control:focus {
  outline: none;
}


input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-right: 7.5px;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}

input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 240ms;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #2f0238;
  transform: scale(0);
}

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #959595;
}

input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  transform: scale(0.5);
}

input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #c5c5c5;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2f0238;
}

input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #c5c5c5;
}


input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 0;
  margin-right: 7.5px;
  border: 2px solid #959595;
  border-radius: 2px;
  transition: 240ms;
}

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #f5f5f5;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2f0238;
  border-color: #2f0238;
}

input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #c5c5c5;
}

input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #c5c5c5;
  border-color: transparent;
}

.funky-form {
  position: relative;
}

select.form-control {
  background: white url(../img/arrow-down.png) right center no-repeat;
  padding-right: 10px;
  -webkit-appearance: none;
}

.form-control.input_filled {
  box-shadow: none;
  height: auto;
  background-color: #f5f5f5;
}

.tour-input-item .form-control {
  border-radius: 0;
  min-height: 50px;
}

.tour-input-btn {
  max-width: 25%;
  flex: 1 1 20%;
  padding-left: 20px;
  width: 100%;
}

.btn, a.btn{
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  letter-spacing: .125em;
  padding: 1.65em 3em;
  text-align: center;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  fill: #f5f5f5;
  line-height: normal;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-primary{
  background-color: #2f0238;
}

.btn.btn-primary:hover{
  background-color: #470247;
  color: #d6d6d6;
  fill: #2f0238;
}

.btn.search-tour-btn {
  background-color: #2f0238;
}

.btn.btn-default, a.btn.btn-default {
  background-color: #ffffff;
  color: #2f0238;
  fill: #2f0238;
  border: none;
}

.btn-sm.btn, .btn-group-sm > .btn {
  padding: 1.35em 1.75em;
  font-size: 11px;
}

.section-header {
  padding-bottom: 40px;
}

.section-title  {
  font-size: 50px;
  font-weight: 700;
}

.content-inner {
  clear: both;
  width: 100%;
  padding: 20px;
}

.hr-line {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #736459;
  *zoom: 1;
    background-size: 100%;
  background-image: linear-gradient(to right, #312a25 0%, #bc8a39 25%, #b44e3a 50%, #00a99d 75%, #2e0d20 100%);
}

.block-panel {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 5px 5px 25px 0 rgba(53, 53, 53, 0.1);
}

.auth-panel .block-panel {
  border-radius: 0;
}

.auth-panel {
  max-width: 500px;
  margin: 30px auto;
}

.block-header {
  clear: both;
  padding: 15px 30px 10px;
}

.auth-panel .block-header {
  padding-top: 35px;
  margin-bottom: 20px;
}

.content-inner {
  clear: both;
  width: 100%;
}

.block-panel .content-inner {
  padding: 15px 30px 30px;
}

.auth-panel .content-inner {
  min-height: 300px;
}

.content-social {
  padding: 10px 15px 10px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
}

.content-inner > h2.info-title {
  margin-bottom: 25px;
}

.error-message {
  display: block;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 20px;
  clear: both;
  background-color: rgba(180, 78, 58, 0.2);
  border-radius: 3px;
  color: #353535;
}


.social-prop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}


.social-btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  fill: #ffffff;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  margin: 0 25px;
  transition: all 0.6s;
}

.social-btn:hover, .social-btn:focus {
  fill: #ffffff;
  background-color: #2f0238;
}

.bg-fb {
  background-color: #3b5893;
}

.bg-tw {
  background-color: #1fa1f2;
}

.bg-goog {
  background-color: #dd4b39;
}

.icon-xs {
  width: 14px;
  height: 14px;
}

.section-cto {
  margin-top: 15px;
  display: block;
  clear: both;
  padding-top: 15px;
}

.auth-panel .section-cto {
  margin-bottom: 15px;
}

.auth-panel .section-cto .btn {
  min-width: 220px;
}

.section-cto.ds-post-item {
  margin-top: 0;
}

footer[role='contentinfo'] {
  color: #f5f5f5;
  fill: #f5f5f5;
  padding: 40px 0;
}

footer a{
  color: white;
}

.foot-block {
  flex: 1;
  width: auto;
  margin: 15px 0;
}

.foot-block .wrapper {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.brand-image {
  display: inline-block;
}

.brand-image .logo-name{
  font-size: 50px;
}

.logo-link {
  display: block;
  position: relative;
  top: 10px;
  fill: #f5f5f5;
}

.div-bar {
  display: block;
  height: 6px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  max-width: 250px;
  background-color: #bb95bb;
}

footer[role='contentinfo'] li:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer_links.last li {
  display: inline-block;
  font-size: .85em;
}

.footer_links.last li + li::before {
  display: inline-block;
  content: '|';
  padding: 0 4px;
  vertical-align: middle;
}

.social_links {
  clear: both;
  display: block;
  margin: 10px 0;
}